/*************************************
*    create by xiaofeng.yao
*    email 871213171@qq.com
*    time 2017.09.06
*    component ha_table
*    path /Users/apple/angular/Hacking-AngularJS/app/scss/parts/_ha-table.scss
*************************************/
.qslist {
  $qslist: #e8e7e5;
  $qslist-color: gray;
  $qslist-border: 1px solid #eee;
  background-color: #fff;
  .qslist-item {
    padding: 15px;
    .qslistitem__citem {
      position: relative;
      border: $qslist-border;
      .qslistitem__citem__Cicon {
        position: absolute;
        left: 10px;
      }
      .qslistitem__citem__li {
        min-height: 30px;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
      }
    }
    .qslistitem__header {
      height: 40px;
      line-height: 38px;
      background-color: $qslist;
      box-sizing: border-box;
      border-bottom: none;
      color: $qslist-color;
      font-size: 14px;
    }
    .qslistitem__content {
      .qslistitem__content__tr {
        line-height: 34px;
        border-bottom: $qslist-border;
        &:last-child {
          border-bottom: none;
        }
      }
      .qslistitem__content__tr--active {
        background-color: #f5f5f5;
      }
    }
  }
}