.haalerttree{
    .haalerttree__h1{
        font-size:2rem;
    }
    .haalerttree__span{
        font-size:1.4rem;
        margin:0.4rem 0 1.4rem;
    }
    .haalerttree__demo{
        margin-top:3rem;
    }
}